.DS_Store
/Admission post licence/build/
/Admission post licence/dist/
/Admission post licence/nbproject/private/
Admission post licence/nbproject/private/private.properties
Admission post licence/nbproject/private/private.xml
Admission post licence/nbproject/private/config.properties
Admission post licence/nbproject/private/private.properties
